body {
    background-color: #FFFFFF !important;
}

.custom-section-titles {
    color: black !important;
    font-weight: 600;
}

.custom-button-color {
    background-color: #fff3eb !important;
    color: white !important;
    border-color: #fff3eb !important;
}

.banner {
    font-weight: 600 !important;
}

img[src$=".svg"] {
    width: 50px !important;
}

/* blue 7272a6 */
/* champ  fff3eb */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #ccc2bc !important;
    border-color: #ccc2bc !important;
    font-family: "Cinzel", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.btn-primary:hover {
    background-color: #ccc2bc !important;
    border-color: #ccc2bc !important;
    font-family: "Cinzel", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

/* Cursiva */
.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Mayus */
.cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Regular */
.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

input {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}

.banner-title {
    font-size: 3em !important;
}

.guest-name {
    font-size: 2.3em !important;
}