{% extends 'invitations/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% if invitation %}
    {% if invitation.expired %}
    <h1>Parece que has ingresado una invitación expirada</h1>
    <img src="https://media.istockphoto.com/id/94740594/es/foto/intrigado.jpg?s=2048x2048&w=is&k=20&c=8DYa-bI0deU4AAAXk-ZX1UBdEVHrwtL59K7zSb0WX1A="
        alt="Perrito confundido" size="100px">
    {% else %}
    {{ invitation.is_honorary_invitation }}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-12 col-md-6 text-center">


            <h1 class="custom-section-titles pinyon-script-regular">Laura & Daniel</h1>
            <img src="{% static 'images/porto2.jpeg' %}" alt="" width="100%">
            <h1 class="custom-section-titles pinyon-script-regular">{{ invitation.name }}</h1>
            <p>{{ invitation.message }}</p>
            {% if not invitation.is_honorary_invitation %}
            <p>Cupos: {{ invitation.amount }}</p>

            <img src="{% static 'images/church.svg' %}" alt="Iglesia">
            <h1 class="custom-section-titles cinzel-regular">Ceremonia & Recepción</h1>
            <p>
                Hacienda Le Jardin
            </p>
            <p>
                Ceremonia: 4:00PM
            </p>
            <p>
                Recepción: 6:00PM
            </p>
            <button onclick="window.open('https://www.google.com', '_blank')"
                class="btn btn-primary cinzel-regular">MAPA</button>
            <h1 class="custom-section-titles cinzel-regular">Código de Vestimenta</h1>
            <p>Etiqueta rigurosa</p>
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'images/dress.svg' %}" alt="Vestido">
                    <p>Ellas</p>
                    <p>Vestido largo de <strong>un solo</strong> tono</p>

                </div>
                <div class="col-6">
                    <img src="{% static 'images/tuxedo.svg' %}" alt="Traje">
                    <p>Ellos</p>
                    <p>Traje negro tipo esmoquin con corbatín</p>
                </div>
            </div>
            <!-- <div class="row"> -->

            <button onclick="window.open('https://pin.it/444uqMSpT', '_blank')"
                class="btn btn-primary">EJEMPLOS</button>
            <!-- </div> -->
            <h1 class="custom-section-titles cinzel-regular">Regalos</h1>
            <p>Tu presencia en este día tan especial para nosotros es tu mejor regalo. Sin embargo, si quieres
                obsequiarnos algo más estaremos recibiendo regalos en forma de lluvia de sobres</p>
            <img src="{% static 'images/envelope.svg' %}" alt="Regalos">
            <legend>
                <form action="{% url 'confirm_invitation' invitation.id %}" method="post">
                    <h1 class="custom-section-titles cinzel-regular">Confirma tu asistencia</h1>
            </legend>
            {% csrf_token %}
            <fieldset>

                <input type="checkbox" name="will_attend" id="will_attend">
                <label for="will_attend">Ire a la boda</label><br>
                <label for="food_restrictions">Restricciones alimenticias</label><br>
                <input type="text-area" name="food_restrictions" id="food_restrictions">

            </fieldset>
            <input type="submit" value="Confirmation">
            </form>
            {% else %}
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
    {% endif %}
    {% else %}
    <h1>Parece que has ingresado una invitación inválida</h1>
    <img src="https://media.istockphoto.com/id/94740594/es/foto/intrigado.jpg?s=2048x2048&w=is&k=20&c=8DYa-bI0deU4AAAXk-ZX1UBdEVHrwtL59K7zSb0WX1A="
        alt="Perrito confundido" size="100px">
    {% endif %}
</div>
{% endblock %}